<header>
        <div class="raw">
            <div class="col-md-2">
                <h3 class="logo">logo</h3>
                <h5 class="bg-info">admin</h5>
            </div>
            <div class="col-md-8">
                <nav class="navbar navbar-light">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search Movies" aria-label="Search">

                    </form>
                </nav>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn btn-light" >Logout</a>

            </div>
        </div>
    </header>