<header id="header">
        <div class="raw">
            <div class="col-md-2">
                <h3 class="logo">logo</h3>

            </div>
            <div class="col-md-8">
                <nav class="navbar navbar-light">
                    <form class="form-inline" method="POST" action="/search" >
                        <input class="form-control mr-sm-2" id="search" type="text" name="content" placeholder="Search Movies" aria-label="Search">
                        <button type="submit" class="btn btn-light">search</button>

                    </form>
                </nav>
            </div>
            <div class="col-md-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Login
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item"  href="/user/logout">logout</a>
    <div class="icon"></div>
    

            </div>
        </div>
    </header>