

    
  
   <section>
        <div class="raw">
            {{#each card}}
            <div class="col-md-3">
                <div class="box">
                    <img class="card_image" src="{{this.image}}" alt="">
                    
                    </div>
            </div>
             {{/each}}
        </div>
    </section>


  