
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  background-color: #a4152c !important;
}
header{
  width: 100%;
  height: auto;  
}
#header{
  background-color: #1e1e26;
}
.raw{
  width: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
  
} 
.logo{
  
  color: white;
  
}
#search{
  width: auto;
  height: 2.5rem;
  
}
.box{
  margin-top: 2rem;
  width: 250px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
  align-items: center;

  
  
}
.card_image{
  width: 250px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  
  
}
.card_button1{
  width: 7rem;
  height: 2.5rem;
  font-weight: bold;
  opacity: 60%;
  border: none;
  margin-top: 80%;
  margin-left: -180px;
  position: absolute;
  

}
.card_button2{
  width: 7rem;
  height: 2.5rem;
  font-weight: bold;
  opacity: 60%;
  border: none;
  position: absolute;

}
.form-control{
  width: 30%;
  height: auto;
  
}
.table{
  border-radius: 5px;
  box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
}
.thead-light{
  border-radius: 5px;
}
#table{
  border-radius: 5px;
}